<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="">
                            <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                                <div class="navbar-container">
                                    <div class="navbar-header pull-left">
                                        <a class="navbar-brand" href="javascript:;">
                                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo"> </a>
                                    </div>
                                    <ul class="nav navbar-nav pull-left m0">
                                        <li class="active"><a href="javascript:void(0);">首页</a></li>
                                        <li><a href="javascript:void(0);">关于我们</a></li>
                                        <li><a href="javascript:void(0);">联系我们</a></li>
                                    </ul>
                                    <div class="navbar-header pull-right">
                                        <ul class="nav">
                                            <li class="user-info">
                                                <a href="javascript:;">
                                                    <img class="img-rounded" src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                                    <span>admin</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="king-block king-block-bordered king-block-themed mb0">
                            <div class="king-block-header king-info">
                                <ul class="king-block-options">
                                    <li>
                                        <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                                    </li>
                                </ul>
                                <h3 class="king-block-title">查询参数</h3>
                            </div>
                            <div class="king-block-content">
                                <form class="form-horizontal"></form>
                                <form class="form-horizontal">
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">业务：</label>
                                        <div class="col-sm-9">
                                            <select name="" id="app_id" class="form-control bk-valign-top">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">IP：</label>
                                        <div class="col-sm-9">
                                            <select name="" id="ip" class="form-control bk-valign-top">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                        <div class="col-sm-9">
                                            <select name="" id="task" class="form-control bk-valign-top">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button type="button" class="king-btn mr10  king-success" onclick="search(this)">提交</button>
                                            <button type="button" class="king-btn king-default ">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="king-block king-block-bordered king-block-themed mb0">
                            <div class="king-block-header king-info">
                                <ul class="king-block-options">
                                    <li>
                                        <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                                    </li>
                                </ul>
                                <h3 class="king-block-title">实时数据</h3>
                            </div>
                            <div class="king-block-content">
                                <table class="table mb0 pr15 ranger-box ">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;">#</th>
                                            <th style="width: 20%;">任务</th>
                                            <th style="width: 20%;">进度</th>
                                            <th style="width: 20%;">开发者</th>
                                            <th>结束时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 100px;">1</td>
                                            <td style="width: 20%;">版本更新</td>
                                            <td style="width: 20%;">完成</td>
                                            <td style="width: 20%;">管理员</td>
                                            <td>2015-09-20</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100px;">2</td>
                                            <td style="width: 20%;">数据备份</td>
                                            <td style="width: 20%;">完成</td>
                                            <td style="width: 20%;">管理员</td>
                                            <td>2015-09-20</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100px;">3</td>
                                            <td style="width: 20%;">定时任务</td>
                                            <td style="width: 20%;">完成</td>
                                            <td style="width: 20%;">管理员</td>
                                            <td>2015-09-20</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100px;">4</td>
                                            <td style="width: 20%;">修复bug</td>
                                            <td style="width: 20%;">完成</td>
                                            <td style="width: 20%;">管理员</td>
                                            <td>2015-09-20</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 设置面板Start -->
                                <template id="header_tpl_1538054587221">
                                    <tr>
                                        <th style="width: 100px;">#index#</th>
                                        <th style="width: 20%;">#task#</th>
                                        <th style="width: 20%;">#progress#</th>
                                        <th style="width: 20%;">#host#</th>
                                        <th>#date#</th>
                                    </tr>
                                </template>
                                <template id="tpl_1538054587221">
                                    <tr>
                                        <td style="width: 100px;">#index#</td>
                                        <td style="width: 20%;">#columnName1#</td>
                                        <td style="width: 20%;">#columnName2#</td>
                                        <td style="width: 20%;">#columnName3#</td>
                                        <td>#columnName4#</td>
                                    </tr>
                                </template>

                                <template id="app_tpl">
                                    <option value="#id#">#name#</option>
                                </template>

                                <template id="ip_tpl">
                                    <option value="#ip#">#ip#</option>
                                </template>

                                <template id="task_tpl">
                                    <option value="#task_id#">#task_name#</option>
                                </template>
                                <!-- 设置面板End -->
                            </div>
                        </div>
                        <div class="king-block king-block-bordered king-block-themed mb0">
                            <div class="king-block-header king-info">
                                <ul class="king-block-options">
                                    <li>
                                        <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                                    </li>
                                </ul>
                                <h3 class="king-block-title">历史数据趋势图</h3>
                            </div>
                            <div class="king-block-content">
                                <div style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0);" id="chart_1538054629863" class="king-chart-box chart-area " _echarts_instance_="1538141773088"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bk.tencent.com/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1538054587221').html();
                        var headerTpl =  $('#header_tpl_1538054587221').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1538054587221 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
    <script>
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;

        return str.replace(re, function() {
            var val = cfg[arguments[2]]+'';
            if(typeof val == 'undefined') {
                val = '';
            }
            console.log('val');
            console.log(val);
            return val;
        });
    };

        function select_ip(app_id) {
          // 级联选择IP
          $('#ip').html('');
          $.get('${SITE_URL}get_capacity/get_ip_by_appid', {'app_id': app_id}, function(data){
            if (data.result) {
              var _html = '';
              var list = data.data;
              var tpl = $('ip_tpl').html();
              for (var i=0,len=list.length; i < len; i++) {
                var item = list[i];
                _html = renderTpl(tpl, item)
              }
              $('#ip').html(_html);
            } else {
              alert("获取失败")
            }
          }, 'json')
        };

        function select_task(app_id) {
          // 级联选择task
          $('#ip').html();
          $.get('${SITE_URL}get_capacity/get_task_id_by_appid/', {'app_id': app_id}, function(data) {
            if (data.result) {
              var _html = '';
              var list = data.data;
              var tpl = $('task_tpl').val();
              for (i=0,len=list.length; i < len; i++) {
                var item = list[i];
                _html += renderTpl(tpl, item);
              }
              $('#task').html(_html);
            } else {
              alert('获取失败')
            }
          }, 'json')
        };

        function search(obj) {
          var app_id = $('#app_id').val();
          var ip = $('#ip').val();
          var taskid = $('#task').val();
          $('${SITE_URL}get_capacity/execute_task/', {'app_id': app_id, 'ip': ip, 'taskid': taskid}, function(data) {
            console.log(data);
            if (data.result) {
              var task_instance_id = data.data;
              get_capacity(task_instance_id, app_id)
            } else {
              alert('获取失败')
            }
          }, 'json')
        };

        $(function(){
          $.get('${SITE_URL}get_capacity/get_app/', function(data) {
            if (data.result) {
              var _html = '';
              var list = data.data;
              console.log(list);
              var tpl = $('#app_tpl').html();
              // alert(tpl);
              console.log(tpl);
              for (i=0, len=list.length; i < len; i++) {
                var item = list[i];
                console.log('item');
                console.log(item);
                _html += renderTpl(tpl, item);
                console.log(_html);
              }
              $('#app_id').html(_html);
              console.log(_html);
              var app_id = $('#app_id').val();
              select_ip(app_id);
            } else {
              alert('获取失败')
            }
          }, 'json');

          $('#app_id').change(function(data){
            var app_id = $('#app_id').val();
            select_ip(app_id);
            select_task(app_id);
          });
        })
    </script>
    <script>
        function createEStandLineChart(conf){
            var myChart = echarts.init(document.getElementById(conf.selector));
            var legendData = []
            for(var i=0; i < conf.data.series.length;i++){
                legendData.push(conf.data.series[i].name)
            }
            myChart.setOption({
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    y: 'bottom',
                    data:legendData
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['bar','line']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : conf.data.xAxis
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        splitArea : {show : true}
                    }
                ],
                series : conf.data.series
            });
         }
        function initEStandLineChart(conf){
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        createEStandLineChart({
                            selector: conf.containerId, // 图表容器
                            data: res.data, // 图表数据
                        });
                    }
                }
            })
        }
    </script>
    <script>
        $(function(){
            initEStandLineChart({
                url: 'https://magicbox.bk.tencent.com/static_api/v3/components/chart3/demo.json',
                dataType: 'json',
                containerId: 'chart_1538054629863'
            });
        });
    </script>
</body>

</html>
